@FONT-FACE {
	FONT-FAMILY: 'PANGOLIN';
	SRC: URL('../Fonts/Pangolin-Regular.TTF') FORMAT('TRUETYPE');
	FONT-WEIGHT: NORMAL;
	FONT-STYLE: NORMAL;
	UNICODE-RANGE: U+0400-04FF;
}

* {
	MARGIN: 0;
	PADDING: 0;
	BOX-SIZING: BORDER-BOX;

	/*
	BORDER: SOLID 1PX WHITE;
	*/

	COLOR: INHERIT;
	FONT-FAMILY: INHERIT;
	USER-SELECT: NONE;
}

HTML {
	BORDER: NONE;
	WIDTH: 100%;
	HEIGHT: 100%;

	BACKGROUND: LINEAR-GRADIENT(0DEG, #030303 0%, #1F1F1F 100%);
	COLOR: WHITE;
	FONT-FAMILY: 'PANGOLIN', 'KLEEONE', 'COMIC SANS MS', SANS-SERIF;
}

BODY {
	MAX-WIDTH: 100DVW;
	HEIGHT: 100DVH;
	ASPECT-RATIO: 9 / 16;
	MARGIN: AUTO;
}

.BORDER {
	BORDER: 0.3CQH SOLID WHITE;
	BORDER-RADIUS: 1.5CQH;
}

.FLEX {
	DISPLAY: FLEX;
	FLEX-DIRECTION: COLUMN;
	JUSTIFY-CONTENT: CENTER;
	ALIGN-ITEMS: CENTER;
}

.LINE {
	FLEX-DIRECTION: ROW;
}

.APP-CONTAINER {
	CONTAINER-TYPE: SIZE;
	WIDTH: 100%;
	ASPECT-RATIO: 9 / 16;
	GAP: 2.5CQH;
	PADDING: 2.5CQH;

	FONT-SIZE: 2CQH;
}

.INFO-ZONE {
	POSITION: RELATIVE;
	WIDTH: 100%;
	HEIGHT: 4CQH;
	PADDING-BOTTOM: 0.3CQH;

	FONT-SIZE: 2CQH;
	FONT-WEIGHT: BOLD;
}

.CARD-ZONE {
	POSITION: RELATIVE;
	FLEX: 1;
	WIDTH: 100%;
}

.WORD-BOX {
	FLEX: 1;
	WIDTH: 100%;
	PADDING: 1CQH;

	WORD-BREAK: KEEP-ALL;
	OVERFLOW-WRAP: BREAK-WORD;
	OVERFLOW: HIDDEN;
}

.WORD-BOX-QUESTION {
	JUSTIFY-CONTENT: FLEX-END;
}

.WORD-BOX-ANSWER {
	JUSTIFY-CONTENT: FLEX-START;
}

.WORD-BOX DIV {
	FONT-SIZE: 4CQH;
	FONT-WEIGHT: 400;
	TEXT-ALIGN: CENTER;
	USER-SELECT: TEXT;
}

.BUTTON-ZONE {
	POSITION: RELATIVE;
	WIDTH: 100%;
	HEIGHT: 6CQH;
}

.BTN {
	PADDING-BOTTOM: 0.3CQH;

	BACKGROUND-COLOR: BLACK;

	FONT-SIZE: 2CQH;
	FONT-WEIGHT: BOLD;
	CURSOR: POINTER;
	TRANSITION: BACKGROUND-COLOR 0.25S, COLOR 0.25S, BORDER-COLOR 0.25S;
}

.BTN-FULL, .ACTION-GROUP {
	POSITION: ABSOLUTE;
	WIDTH: 100%;
	HEIGHT: 100%;
}

.BTN-FULL:HOVER {
	BACKGROUND-COLOR: WHITE;
	COLOR: BLACK;
}

.BTN-SAVE {
	TEXT-DECORATION: NONE;
}

.ACTION-GROUP {
	GAP: 2CQH;
}

.BTN-FORGOT, .BTN-REMEMBER {
	POSITION: RELATIVE;
	FLEX: 1;
	HEIGHT: 100%;
}

.BTN-FORGOT:HOVER {
	BACKGROUND-COLOR: #FFAAAA;
	COLOR: BLACK;
}

.BTN-REMEMBER:HOVER {
	BACKGROUND-COLOR: #AAFFAA;
	COLOR: BLACK;
}

.A {
	POSITION: ABSOLUTE;
	PADDING-BOTTOM: 1.5CQH;

	OPACITY: 0.5;
	FONT-FAMILY: 'COMIC SANS MS', SANS-SERIF;
	FONT-SIZE: 6CQH;
	POINTER-EVENTS: NONE;
	TRANSITION: COLOR 0.25S;
}

.BTN-SHOW:HOVER .A, .BTN-FORGOT:HOVER .A, .BTN-REMEMBER:HOVER .A {
	COLOR: BLACK;
}

.A-L {
	LEFT: 2.5%;
}

.A-R {
	RIGHT: 2.5%;
}

.HIDDEN {
	DISPLAY: NONE !IMPORTANT;
}

.INVISIBLE {
	VISIBILITY: HIDDEN !IMPORTANT;
	OPACITY: 0 !IMPORTANT;
}